.Logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    height: 40px;
    width: 150px;
    margin-left: 35%;
}

.FG_pswrd{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    margin: auto;
}

.FG_pswrd:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.266);
}